*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    position: relative;
}

:root{
    --main-font: #4D4D4D
}

h1{
    color: red
}


/* NAVIGATION BAR */
.navigation_bar{
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation_bar .left .mobile,
.navigation_bar .right{
    display: flex;
    align-items: center;
    gap: 12px;
}

.navigation_bar .left .desktop{
    display: none;
}

.navigation_bar .right .search{
    display: none;
}

.navigation_bar .search,
.navigation_bar .profile,
.navigation_bar .bag{
    cursor: pointer;
}


/* MENU */
.desktop-menu{
    display: none;
}

.mobile-menu{
    position: absolute;
    background: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
    top: 0;
    left: 0;
    transition: all .2s ease-in-out;
}

.mobile-menu.menu-open{
    transform: translateX(0);
    transition: all .2s ease-in-out;

}

.menu_button{
    cursor: pointer;
}

.close_button{
    cursor: pointer;
    position: absolute;
    top: 12px;
    left: 12px;
    display: flex;
}

.close_button img{
    width: 48px;
    height: 48px;
}

.mobile-menu nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 8px;

    font-size: 32px;
    color: var(--main-font);
}

/* MENU end */

a, a:active, a:visited{
    text-decoration: none;
    color: var(--main-font);
}

a:hover{
    text-decoration: underline;
}


@media only screen and (min-width: 768px) {
   .desktop-menu{
    display: flex;
    gap: 30px;
   }
   
   .navigation_bar .left .desktop, .navigation_bar .right .search{
    display: block;
    } 

.mobile-menu, .navigation_bar .left .mobile, .navigation_bar .center .logo{
    display: none;
}

.navigation_bar{
    height: fit-content;
    padding: 8px 81px 0 42px;
}

.navigation_bar .left .desktop .logo{
    display: flex;
}
}